.quick-view-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: auto;
  height: auto;
  /* margin: auto; */
  margin-top: 50px;
  padding-top: 20px;
}

.quick-view-holder {
  display: block;
  width: 350px;
  height: 200px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  outline: none !important;
  border: white 2px;
  box-shadow: 2px 2px 5px #e6e6e6;
  background-color: white;
}

.quick-view-container-labels {
  background-color: white;
  font-weight: normal;
  text-align: center;
  margin-top: 3px;
  background-color: white;
}

.quick-view-img-label {
  display: flex;
  justify-content: center;
  width: 100%;
  background-color: white;
  /* margin-top: 50px; */
}

.quick-view-margin-down {
  margin-top: 50px;
}

.quick-view-margin-small-down {
  margin-top: 15px;
}
.quick-view-margin-left {
  margin-left: -20px;
}

.quick-view-margin-top {
  margin-top: -50px;
}

.label-img {
  width: 50px;
  height: 50px;
  margin-right: 10px;
  background-color: white;
}

.label-img-smaller {
  width: 40px;
  height: 40px;
  margin-right: 10px;
  background-color: white;
}
.label {
  background-color: white;
  text-align: center;
}

.label-container {
  display: flex;
  justify-content: center;
  width: auto;
  height: 50px;
  background-color: white;
}

.add-button {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: -4px;
  width: 110px;
  height: 110px;
  border-radius: 100%;
  outline: none !important;
  border: white 2px;
  box-shadow: 2px 2px 5px #e6e6e6;
  background-color: white;
  cursor: pointer;
}

.add-icon {
  font-size: 100px;
  align-self: center;
  background-color: transparent;
  cursor: pointer;
}

.total-invested-label {
  margin-top: 30px;
  background-color: white;
  text-align: center;
}

.quickview-diversification {
  width: 110px;
  height: 110px;
  margin: auto;
  margin-top: -5px;
  background-color: white;
}

.no-mini-graph {
  width: 110px;
  height: 110px;
  border-radius: 100%;
  background-color: #e6e6e6;
  margin: auto;
}

.purple {
  background-color: #7673fe;
}

.orange {
  background-color: #feb35c;
}

.red {
  background-color: #ff764c;
}
