.stock-container {
  display: block;
  width: 100%;
  min-width: 350px;
  padding: 25px;
  box-sizing: border-box;
  justify-content: center;
}

.stock {
  width: 100%;
  min-width: 350px;
  height: 70px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
  outline: none !important;
  border: white 2px;
  box-shadow: 2px 2px 5px #e6e6e6;
  background-color: white;
}

.padding {
  height: 20px;
  margin-bottom: 100px;
}

.your-investments-label {
  font-size: 1.9rem;
}

@media screen and (max-width: 400px) {
  .stock-container {
    margin-left: -60px;
  }
}

.stock-skeleton {
  width: 100%;
  min-width: 350px;
  height: 70px;
  margin-top: 20px;
  margin-bottom: 20px;
  border-radius: 15px;
  outline: none !important;
  border: white 2px;
  box-shadow: 2px 2px 5px #e6e6e6;
  background-color: white;
}

.animate {
  animation: shimmer 2s infinite;
  background: linear-gradient(to right, #eff1f3 4%, #e2e2e2 25%, #eff1f3 36%);
  background-size: 1000px 100%;
}

@keyframes shimmer {
  0% {
    background-position: -1000px 0;
  }
  100% {
    background-position: 1000px 0;
  }
}
