.stock-overview-container {
  width: auto;
  height: 90vh;
  padding: 50px;
}

.margin-right {
  margin-right: 50px;
}

.center {
  align-self: center;
}

.information-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: auto;
  height: auto;
  margin-top: 50px;
  padding-top: 20px;
}

.information-box {
  display: block;
  width: 280px;
  height: 150px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  outline: none !important;
  border: white 2px;
  box-shadow: 2px 2px 5px #e6e6e6;
  background-color: white;
}

.edit-button {
  display: flex;
  justify-self: flex-start;
  align-self: center;
  text-align: center;
  margin-left: 20px;
  border: transparent;
  outline: none;
  cursor: pointer;
}

.delete-button {
}
