.graph-container {
  display: block;
  width: 400px;
  height: fit-content;
  border-radius: 30px;
  background-color: white;
}

.myChart {
  width: 380px;
  height: 380px;
  /* border-radius: 30px; */
  background-color: red;
}
.margin-top {
  margin-top: 20px;
  background-color: white;
}
.chartjs-render-monitor {
  background-color: white;
  cursor: pointer;
  width: fit-content;
  /* border-radius: 30px; */
}

.range-form-container {
  display: flex;
  justify-content: center;
  background-color: white;
  margin-top: 30px;
}

#range {
  width: 140px;
  height: 45px;
  border: white 2px;
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  outline: none !important;
  box-shadow: 2px 2px 5px grey;
  background-color: white;
  margin-right: 20px;
  cursor: pointer;
}

.apply-button {
  width: 140px;
  height: 45px;
  border: white 2px;
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  outline: none !important;
  box-shadow: 2px 2px 5px grey;
  background-color: black;
  color: white;
  cursor: pointer;
}
