.overview-container {
  width: auto;
  height: 90vh;
  padding: 50px;
}

.section-header-container {
  display: flex;
  width: 100%;
  background-color: transparent;
}

.section-name {
  display: flex;
  width: 100%;
  justify-self: flex-start;
}

.back-button {
  display: flex;
  justify-self: flex-end;
}

.statistic-container {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  width: auto;
  height: auto;
  margin-top: 50px;
  padding-top: 20px;
}

.statistic-box {
  display: block;
  width: 250px;
  height: 150px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 20px;
  border-radius: 20px;
  padding: 20px;
  box-sizing: border-box;
  outline: none !important;
  border: white 2px;
  box-shadow: 2px 2px 5px grey;
  background-color: white;
}

.graph {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  height: fit-content;
  border-radius: 20px;
  margin: auto;
  padding: 10px;
  margin-top: 30px;
  margin-bottom: 30px;
  box-sizing: border-box;
  outline: none !important;
  border: white 2px;
  box-shadow: 2px 2px 5px grey;
  background-color: white;
}

.statistic-label {
  text-align: center;
  margin-top: 30px;
  background-color: white;
}
