.dashboard-container {
  width: auto;
  height: 100vh;
  padding: 50px;
  /* margin: auto; */
}

.name-label {
  width: 100%;
  margin-left: 30px;
}

.no-stocks-container {
  display: flex;
  justify-content: center;
  /* margin: 25px; */
  width: 100%;
  height: fit-content;
  margin-top: 50px;
  margin-bottom: 40px;
  /* margin: auto; */
}
