.diversification-container {
    width: auto;
    height: 90vh;
    padding: 50px;
  }
  
  .diversificiation-graph-container{
    display: flex;
    justify-content: center;
    width: auto;
    margin-top: 20px ;
    background-color: 
  }