/* The Modal (background) */
.add-modal-container {
  display: flex; /* Hidden by default */
  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%; /* Full height */
  overflow: auto; /* Enable scroll if needed */
  background-color: rgb(0, 0, 0); /* Fallback color */
  background-color: rgba(0, 0, 0, 0.4); /* Black w/ opacity */
}

/* Modal Content/Box */
.modal-content {
  margin: 15% auto; /* 15% from the top and centered */
  padding: 20px;
  border: 1px solid #888;
  border-radius: 25px;
  width: 32%; /* Could be more or less, depending on screen size */
  height: fit-content;
  background-color: white;
  min-width: 300px;
}

/* The Close Button */
.close {
  color: black;
  float: right;
  font-size: 15px;
  font-weight: bold;
  background-color: white;
}

.close:hover,
.close:focus {
  color: #aaa;
  text-decoration: none;
  cursor: pointer;
}

.margin-down {
  margin-top: 25px;
  font-weight: bolder;
  background-color: white;
}

.toggle-holder {
  display: flex;
  justify-content: center;
  margin-top: 20px;
  background-color: white;
}
/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin-left: 20px;
  margin-right: 20px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: black;
}

input:focus + .slider {
  box-shadow: 0 0 1px black;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.form-row {
  display: flex;
  width: fit-content;
  height: fit-content;
  margin: auto;
  margin-top: 30px;
  margin-bottom: 30px;
  background-color: white;
  flex-wrap: wrap;
}

.input-container-right {
  margin-right: 30px;
  background-color: white;
}

.input-container-left {
  margin-left: 30px;
  background-color: white;
}

#stock-info {
  width: 140px;
  height: 45px;
  border: white 2px;
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  outline: none !important;
  box-shadow: 2px 2px 5px grey;
  background-color: white;
}

#stock-info-2 {
  width: 130px;
  height: 45px;
  border: white 2px;
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: -10px;
  padding-left: 20px;
  outline: none !important;
  box-shadow: 2px 2px 5px grey;
  background-color: white;
}

#stock-info-3 {
  width: 130px;
  height: 45px;
  border: white 2px;
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  padding-left: 20px;
  margin-left: -5px;
  outline: none !important;
  box-shadow: 2px 2px 5px grey;
  background-color: white;
}

input[type="number"] {
  padding-right: 10px;
}

input[type="date"] {
  width: 140px;
  height: 45px;
  border: white 2px;
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 10px;
  margin-left: -15px;
  padding-left: 10px;
  padding-right: 10px;
  outline: none !important;
  box-shadow: 2px 2px 5px grey;
  background-color: white;
}

.add-stock {
  display: block;
  width: 290px;
  height: 45px;
  background-color: black;
  color: white;
  border-color: black;
  border-radius: 15px;
  margin-top: 10px;
  margin-bottom: 20px;
  margin: auto;
  outline: none;
  cursor: pointer;
}

.message {
  width: auto;
  height: 20px;
  margin-top: 10px;
  margin-bottom: 10px;
  text-align: center;
  background-color: white;
}

@media screen and (max-width: 1182px) {
  .form-row {
    display: flex;
    justify-content: center;
    width: fit-content;
    height: fit-content;
    margin: auto;
    margin-top: 30px;
    background-color: white;
    flex-wrap: wrap;
  }

  #stock-info {
    width: 140px;
    height: 45px;
    border: white 2px;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    outline: none !important;
    box-shadow: 2px 2px 5px grey;
    background-color: white;
  }

  #stock-info-2 {
    width: 130px;
    height: 45px;
    border: white 2px;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    margin-right: -10px;
    outline: none !important;
    padding-right: 10px;
    box-shadow: 2px 2px 5px grey;
    background-color: white;
  }

  #stock-info-3 {
    width: 130px;
    height: 45px;
    border: white 2px;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 20px;
    outline: none !important;
    box-shadow: 2px 2px 5px grey;
    background-color: white;
  }

  input[type="number"] {
    padding-right: 10px;
  }

  input[type="date"] {
    width: 140px;
    height: 45px;
    border: white 2px;
    border-radius: 15px;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    margin-right: -10px;
    outline: none !important;
    box-shadow: 2px 2px 5px grey;
    background-color: white;
  }

  .input-container-right {
    margin-right: 0px;
    background-color: white;
  }

  .input-container-left {
    margin-left: 0px;
    background-color: white;
  }
}

#add-form {
  background-color: white;
}
