@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@600&display=swap");

*,
body {
  margin: 0px;
  padding: 0pc;
  font-family: "Montserrat", sans-serif;
  background-color: #f9fafe;
}

a {
  color: black;
  text-decoration: none;
}
